{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Perfil
{% endblock %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="login sign-up">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:22px">Tus Datos:</div>
      <div class="panel-body">
        <div class="row">
          <div class="">

          </div>
          <div class="col-md-5 perfil-left">
            <div class="circulo">

            </div>
          </div>
          <div class="col-md-7 perfil-right">
            <div class="perfil-nombre">
              <div class="form-group">
                <label class="control-label" for="disabledInput">Nombre:</label>
                <input class="form-control" id="disabledInput" type="text" disabled="" value="{{ user.first_name }}">
              </div>
              <div class="form-group margin-left">
                <label class="control-label" for="disabledInput">Apellido:</label>
                <input class="form-control" id="disabledInput" type="text" disabled="" value="{{ user.last_name }}">
              </div>
            </div>
            <div class="perfil-nombre">
              <div class="form-group">
                <label class="control-label" for="disabledInput">Usuario:</label>
                <input class="form-control" id="disabledInput" type="text" disabled="" value="{{ user.username }}">
              </div>
              <div class="form-group margin-left">
                <label class="control-label" for="disabledInput">Correo:</label>
                <input class="form-control" id="disabledInput" type="text" disabled="" value="{{ user.email }}">
              </div>
            </div>
            <div class="perfil-btn">
              <a href="{% url 'usuario:usuario_edit' user.id %}" class="btn btn-success perfil-btn-editar">Editar Perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eliminar-btn">
      <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modalEmergente">Eliminar cuenta</a>
    </div>
  </div>
</div>
{% endblock %}

{% block modal-title %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Eliminar Cuenta</h4>
</div>
{% endblock %}

{% block modal-body %}
<div class="modal-body">
  <h3>Está seguro que desea eliminar su cuenta?</h3>
</div>
{% endblock %}

{% block modal-footer %}
<div class="modal-footer">
  <button onclick="eliminarUsuario()" class="btn btn-danger">Si, eliminar</button>
  <a class="btn btn-default" href="{% url 'usuario:usuario_profile' %}">Cancelar</a>
</div>
{% endblock %}

{% block filejs %}
<script>
function eliminarUsuario() {
    $('#modalEmergente').modal('hide')
    var request = $.ajax({
        type: "POST",
        url: "{% url 'usuario:usuario_delete' %}",
        data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "identificador_id": {{ user.id }}
        },
    });
    request.done(function(response) {
        $('#modalEmergente').modal(response.class)
        location.href ="http://localhost:8000";
        // alert("Cuenta Eliminada");
        // Cierra el modal, oculta el identificador eliminado, etc.
    });
}
</script>
{% endblock %}
