{% extends 'base/base_list.html' %}
{% load staticfiles %}

{% block overview %}
<li><i class="fa fa-arrows-h" aria-hidden="true"></i>Rutas</li>
{% endblock%}

{% block btn-new %}
<i class="fa fa-plus table-btn-padding-right" aria-hidden="true"></i>
Nueva Ruta
{% endblock %}

{% block url %}
{% url 'dashboard:ruta:ruta_new' %}
{% endblock %}

{% block table-head %}
<thead>
  <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th  class="text-center" data-field="codigo_ruta"  data-sortable="true" >Codigo Ruta</th>
      <th  class="text-center" data-field="cliente" data-sortable="true">Cliente</th>
      <th  class="text-center" data-field="hora_inicio" data-sortable="true">Hora Inicio</th>
      <th  class="text-center" data-field="hora_fin" data-sortable="true">Hora Fin</th>
      <th  class="text-center" data-field="estado">Estado</th>
      <th  class="text-center" data-field="acciones">Acciones</th>
  </tr>
</thead>
{% endblock %}

{% block table-body %}
<tbody>
  {% if object_list %}
  {% for ruta in object_list %}
    <tr>
      <td></td>
      <td><a href="{% url 'dashboard:ruta:ruta_edit' ruta.codigo_ruta %}">{{ ruta.codigo_ruta }}</a></td>
      <td>{{ ruta.nit }}</td>
      <td>{{ ruta.hora_inicio }}</td>
      <td>{{ ruta.hora_fin }}</td>
      <td>{% if ruta.activo_inactivo %}Activo{% else %}Inactivo{% endif %}</td>
      <td>
        <div class="btn-group">
          <a class="btn btn-primary" href="{% url 'dashboard:ruta:ruta_edit' ruta.codigo_ruta %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
        <div class="btn-group">
          <a onclick="get_ruta({{ ruta.id }}, '{{ csrf_token }}', '{% url 'dashboard:ruta:ruta_delete' %}', '{% url 'dashboard:ruta:ruta_list' %}')" class="btn btn-danger" data-toggle="modal" data-target="#modalEmergente"><i class="fa fa-ban" aria-hidden="true"></i></a>
        </div>
      </td>
    </tr>
  {% endfor %}
  {% else %}
    <h3 class="page-header"><i class="fa fa-laptop"></i> No hay registros</h3>
  {% endif %}
</tbody>

</table>
<ul class="pager">
	<li>
    	{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    	{% endif %}
    </li>
	<li>
    	{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
</section>
{% endblock %}

{% block modal-title %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Cambiar estado</h4>
</div>
{% endblock %}

{% block modal-footer %}
<div class="modal-footer">
  <button class="btn btn-danger" id="confirmarDelete">Confirmar</button>
  <a class="btn btn-default" href="">Cancelar</a>
</div>
{% endblock %}

{% block modal-body %}
<div class="modal-body">
  <h3>Está seguro que desea cambiar el estado de la ruta?</h3>
</div>
{% endblock %}


{% block extrajs %}

<script>
  $( document ).ready(function() {
    $(".fixed-table-toolbar").append( '<div class="columns columns-left btn-group pull-left"><a class="btn btn-success" href="{% url 'dashboard:ruta:ruta_new' %}">Añadir Ruta</a></div>' );
  });
</script>
<script>

function get_ruta(id){
  $('#confirmarDelete').click(function(){
    var request = $.ajax({
        type: "POST",
        url: "{% url 'dashboard:ruta:ruta_delete' %}",
        data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "identificador_id": id
        },
    });
    request.done(function(response) {
        if (response.delete){
          $('#modalEmergente').modal(response.class)
          location.href ="{% url 'dashboard:ruta:ruta_list' %}";
        }
    });
  });
}
</script>

{% endblock %}
