{% extends 'base/base_dashboard.html' %}
{% load staticfiles %}

{% block overview %}
<li><i class="fa fa-user-circle-o" aria-hidden="true"></i>Clientes</li>
{% endblock%}

{% block content %}

<!-- messages success -->
{% if messages %}
<div class="alert alert-dismissible alert-info">
  <button type="button" class="close text-center" data-dismiss="alert">&times;</button>
  {% for message in messages %}
  <strong>
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  </strong>
  {% endfor %}
</div>
{% endif %}
<!-- end messages success -->

<section class="panel" style="padding:5px 10px">

  <div id="toolbar" class="btn-group">
    <a class="btn btn-success" href="{% url 'dashboard:cliente:cliente_new' %}">
      <i class="fa fa-user-plus margin-right" aria-hidden="true"></i> Nuevo Cliente
    </a>

    <!-- download file -->
    <a href="{% url 'dashboard:cliente:cliente_export' %}" id="download" class="btn btn-success left-input">
      <i class="fa fa-file-excel-o margin-right" aria-hidden="true"></i>Excel
    </a>
    <!-- end download file -->

    <!-- upload file -->
    <form id="upload" class="display-flex left-input" method="post" enctype="multipart/form-data">
      {% csrf_token %}

        <input id="id_file" name="file" type="file" class="inputfile" required>
        <label id="label_file" for="id_file" class="btn btn-primary" style="display:flex;align-items:center">
          <i class="fa fa-upload" aria-hidden="true"></i><div style="padding-left:10px">Carga Masiva</div>
        </label>

        <input type="submit" value="Subir" style="padding-left:10px" class="btn btn-default">

    </form>
    <!-- end upload file -->


  </div>

  <table data-toggle="table"
       data-pagination="true"
       data-show-export="true"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-toolbar="#toolbar"
       >
    <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th  class="text-center" data-field="nit"  data-sortable="true" >NIT</th>
      <th  class="text-center" data-field="razon_social" data-sortable="true">Razon Social</th>
      <th  class="text-center" data-field="telefono">Teléfono</th>
      <th  class="text-center" data-field="correo">Correo</th>
      <th  class="text-center" data-field="estado" data-sortable="true">Estado</th>
      <th  class="text-center" data-field="acciones">Acciones</th>
    </tr>
    </thead>
    <tbody>
      {% if object_list %}
      {% for cliente in object_list %}
        <tr>
            <td></td>
            <td><a href="{% url 'dashboard:cliente:cliente_edit' cliente.nit %}">{{ cliente.nit }}</a></td>
            <td>{{ cliente.razon_social }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correo }}</td>
            <td>
              {% if cliente.activo_inactivo %}
                Activo
              {% else %}
                Inactivo
              {% endif %}
            </td>
            <td>
              <div class="btn-group">
                <a class="btn btn-success" href="{% url 'dashboard:cliente:cliente_edit' cliente.nit %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </div>
              <div class="btn-group">
                <a onclick="get_nit({{ cliente.nit }})" class="btn btn-danger" data-toggle="modal" data-target="#modalEmergente"><i class="fa fa-ban" aria-hidden="true"></i></a>
              </div>
            </td>
        </tr>
      {% endfor %}
      {% else %}
        <h3 class="page-header"><i class="fa fa-laptop"></i> No hay registros</h3>
      {% endif %}
    </tbody>
</table>
</section>
{% endblock %}

<!-- modal -->
{% block modal-title %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="modal-title">Cambiar estado</h4>
</div>
{% endblock %}

{% block modal-footer %}
<div class="modal-footer">
  <button class="btn btn-danger" id="confirmarDelete">Confirmar</button>
  <a class="btn btn-default" href="">Cancelar</a>
</div>
{% endblock %}

{% block modal-body %}
<div class="modal-body">
  <h3 id="modal-body">Está seguro que desea cambiar el estado del cliente?</h3>
</div>
{% endblock %}
<!-- end modal -->


{% block extrajs %}

<script>
  $( document ).ready(function() {
    // $(".fixed-table-toolbar").append( '<div class="columns columns-left btn-group pull-left"><a class="btn btn-success" href="{% url 'dashboard:cliente:cliente_new' %}"><i class="fa fa-user-plus margin-right" aria-hidden="true"></i> Nuevo Cliente</a></div>' );
  });

  $("#id_file").change(function(ev) {
    var name = ev.target.files[0].name;
    console.log(name)
    $("#label_file").html('<i class="fa fa-upload" aria-hidden="true"></i>' + '<strong style="padding-left:10px">' + name + '</strong>')

  });
</script>
<script>



function get_nit(nit){
  $('#modal-title').text('Cambiar estado');
  $('#confirmarDelete').click(function(){
    var request = $.ajax({
        type: "POST",
        url: "{% url 'dashboard:cliente:cliente_delete' %}",
        data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "identificador_id": nit
        },
    });
    request.done(function(response) {
        if (response.delete){
          $('#modalEmergente').modal(response.class)
          location.href ="{% url 'dashboard:cliente:cliente_list' %}";
        }
    });
  });
}
function upload(event) {
event.preventDefault();
var data = new FormData($('form').get(0));
console.log(data)

$.ajax({
    url: "{% url 'dashboard:cliente:cliente_import' %}",
    type: "POST",
    data: data,
    cache: false,
    processData: false,
    contentType: false,
    success: function(data) {
        alert('success');
    }
});
return false;
}

$(function() {
    $('form').submit(upload);
});
</script>
{% endblock %}
