{% extends 'base/base_dashboard.html' %}
{% load staticfiles %}


{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
{% endblock %}

{% block overview %}
<li><i class="fa fa-laptop"></i>Clientes</li>
{% endblock %}



{% block content %}

<!-- messages erros -->
{% if form.errors %}
    <div class="alert alert-danger">
    {% for field in form %}
        {% for error in field.errors %}
          <strong><div>{{field}}{{ error|escape }}</div></strong>
        {% endfor %}
    {% endfor %}
    </div>

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}

{% endif %}
<!-- end messages erros -->

<section class="panel">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <header class="panel-heading">
    Nuevo Cliente
  </header>
  <div class="panel-body">
    <form enctype="multipart/form-data" method="post" class="form-horizontal" data-toggle="validator">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">

            <!--<div class="cuadrado"></div>-->
            <div class="cuadrado">
              <img src="{{ cliente.logo.url }}" width="200" height="200">
            </div>

            <div class="form-group has-feedback text-left col-md-12">-
              {{ form.logo.label_tag }}
              {{ form.logo.erros }}
              <input type="file" class="form-control" name="logo">
            </div>
          </div>

          <div class="col-md-8">

            <div class="form-group has-feedback text-left col-md-12">
              <strong>NIT</strong>
            </br>
              {{ form.nit.erros }}
              <input type="text" class="form-control" name="nit" data-error="Ingrese el N° NIT de la empresa" required>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback text-left col-md-12">
              <strong>Razón social</strong>
              {{ form.razon_social.erros }}
              <input type="text" class="form-control" name="razon_social" data-error="Ingrese la Razón Social de la empresa" required>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback  col-md-12">
              <strong>Telefono:</strong>
              {{ form.telefono.erros }}
              <input class="form-control" id="id_telefono" maxlength="12" name="telefono" type="text" data-error="Ingrese el Telefono de la empresa" required="">
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback  col-md-12">
              <strong>Correo</strong>
              {{ form.correo.erros }}
              <div class="help-block with-errors"></div>
            </div>


            <div class="form-group has-feedback text-left col-md-12">
              <strong>Ciudad</strong>
              {{ form.ciudad.erros }}
              <input type="text" class="form-control" name="ciudad" data-error="Ingrese la ciudad donde esta ubicada la empresa" required>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback text-left col-md-12">
              <strong>Dirección</strong>
              {{ form.direccion.erros }}
              <input type="text" class="form-control" name="direccion" data-error="Ingrese la dirección de la empresa" required>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group text-right col-md-12">
              <button class="btn btn-primary " type="submit">Guardar</button>
            </div>
          </div>
        </div>

    </form>
  </div>
</section>

{% endblock %}
