{% extends 'dashboard/base.html' %}

{% block overview %}
<li><i class="fa fa-laptop"></i>Clientes</li>
{% endblock%}

{% block content %}
<a class="btn btn-success" href="{% url 'cliente:cliente_new'%}">Crear Cliente</a>

<section class="panel">
<br>
<table class="table table-striped table-advance table-hover">
    <tbody>
        <tr>
            <th>NIT</th>
            <th>Razon Social</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Activo/Inactivo</th>
            <th>Acciones</th>
        </tr>


        {% if object_list %}
		    {% for cliente in object_list %}
                <tr>
                    <td>{{ cliente.nit }}</td>
                    <td>{{ cliente.razon_social }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.correo }}</td>

                    <td>{{ cliente.activo_inactivo }}</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'cliente:cliente_edit' cliente.nit %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'cliente:cliente_delete' cliente.nit %}">Eliminar</a>
                      </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h3 class="page-header"><i class="fa fa-laptop"></i> No hay registros</h3>
        {% endif %}
    </tbody>
</table>
</section>
<ul class="pager">
	<li>
    	{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    	{% endif %}
    </li>
	<li>
    	{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock %}
