{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <title>{% block title %} Dashboard {% endblock %} | SCR</title>

    <!-- Bootstrap CSS -->
    <!-- <link href="{% static 'tenant/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    {% block theme %}
    <!-- bootstrap theme -->
    {% if user.theme == 1 or user.theme == 0 %}
    <link href="{% static 'tenant/css/themes/01_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 2 %}
    <link href="{% static 'tenant/css/themes/02_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 3 %}
    <link href="{% static 'tenant/css/themes/03_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 4 %}
    <link href="{% static 'tenant/css/themes/04_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 5 %}
    <link href="{% static 'tenant/css/themes/05_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 6 %}
    <link href="{% static 'tenant/css/themes/06_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 7 %}
    <link href="{% static 'tenant/css/themes/07_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 8 %}
    <link href="{% static 'tenant/css/themes/08_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% if user.theme == 9 %}
    <link href="{% static 'tenant/css/themes/09_bootstrap-theme.css' %}" rel="stylesheet">
    {% endif %}

    {% endblock %}

    <!-- style -->
    <link href="{% static 'tenant/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'tenant/css/style-responsive.css' %}" rel="stylesheet" />

    <!-- Boostrap table -->
    <link rel="stylesheet" href="{% static 'tenant/css/bootstrap-table.min.css'%}">
    <link rel="stylesheet" href="{% static 'tenant/css/bootstrap-table-sticky-header.css'%}">

    <!-- pikaday -->
    <link rel="stylesheet" href="{% static 'css/pikaday.min.css' %}">

    <!-- custom style -->
    <link rel="stylesheet" href="{% static 'tenant/css/custom-style.css'%}">

    <!-- hoja de calculo -->
    <script src="{% static 'tenant/js/handsontable.full.js' %}"></script>
    <link rel="stylesheet" media="screen" href="{% static 'tenant/css/handsontable.full.css' %}">

    <!-- Dropzone.js -->
    <link rel="stylesheet" href="{% static 'tenant/css/dropzone.min.css'%}">

    <!-- animated css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

    <!-- <link rel="stylesheet" href="{% static 'tenant/css/fakeLoader.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'tenant/js/fakeLoader.js'%}"></script> -->

    <!-- fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">

    {% block extrastatic %}
    {% endblock %}

    <!-- =======================================================
        Theme Name: NiceAdmin
        Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

  <body>

    <div id="fakeLoader"></div>

  {% block navbar %}
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-fixed-top hide-navbar">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'dashboard:index' %}">
        <div class="div-brand">
          <p id="name-tenant"></p>
          <p class="brand">SCR</p>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" style="text-transform:uppercase" data-toggle="dropdown" role="button" aria-expanded="false">
              {{ user.get_short_name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'usuario_tenant:usuario_profile' %}">Perfil</a></li>
              <!-- Renderiza el enlace dependiendo del tema que hay guardado el usuario -->
              {% if user.theme == 1 or user.theme == 0 %}
              <li><a href="{% url 'dashboard:theme:theme1'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 2 %}
              <li><a href="{% url 'dashboard:theme:theme2'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 3 %}
              <li><a href="{% url 'dashboard:theme:theme3'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 4 %}
              <li><a href="{% url 'dashboard:theme:theme4'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 5 %}
              <li><a href="{% url 'dashboard:theme:theme5'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 6 %}
              <li><a href="{% url 'dashboard:theme:theme6'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 7 %}
              <li><a href="{% url 'dashboard:theme:theme7'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 8 %}
              <li><a href="{% url 'dashboard:theme:theme8'%}" >Temas</a></li>
              {% endif %}

              {% if user.theme == 9 %}
              <li><a href="{% url 'dashboard:theme:theme9'%}" >Temas</a></li>
              {% endif %}
              <li><a href="{% url 'usuario_logout' %">Salir</a></li>
            </ul>
          </li>
        {% else %}
          <li>
            {% block navbar-btn %}
            <a href="" style="">
              <button  class="btn btn-warning">Iniciar sesión</button>
            </a>
            {% endblock navbar-btn %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  </nav>

  <!-- end navbar -->
  {% endblock %}

  {% block sidenav %}
  <!--sidebar start-->
    <aside>
      <nav class="navbar navbar-default navbar-fixed-top sidebar top-sidenav" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li class="">
              <a class="" href="{% url 'dashboard:planilla:planilla_list' %}">
                Planilla
                <span class="fa fa-th pull-right hidden-xs" aria-hidden="true"></span>
              </a>
            </li>

            <li class="">
              <a class="" href="{% url 'dashboard:cliente:cliente_list' %}">
                Clientes
                <span class="fa fa-user-circle-o pull-right hidden-xs" aria-hidden="true"></span>
              </a>
            </li>

            <li class="">
              <a class="" href="{% url 'dashboard:conductor:conductor_list' %}">
                Conductores
                <span class="fa fa-id-card-o pull-right hidden-xs" aria-hidden="true"></span>
              </a>
            </li>

            <li class="">
              <a class="" href="{% url 'dashboard:vehiculo:vehiculo_list' %}">
                Vehiculos
                <span class="fa fa-bus pull-right hidden-xs" aria-hidden="true"></span>
              </a>
            </li>

            <li class="">
              <a class="" href="{% url 'dashboard:ruta:ruta_list' %}">
                Rutas
                <span class="fa fa-arrows-h pull-right hidden-xs" aria-hidden="true"></span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    </aside>
  <!--sidebar end-->
  {% endblock %}

  <!-- content -->
  <section id="main-content">
    <section id="wrapper" class="wrapper animated">

    {% block message %}

    <div class="alert alert-dismissible alert-success hide" id="alert">

    </div>

    <!-- messages success -->
    {% if messages %}
      <div class="alert alert-dismissible alert-info">
        <button type="button" class="close text-center" data-dismiss="alert">&times;</button>
        {% for message in messages %}
        <strong>
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        </strong>
        {% endfor %}
      </div>
    {% endif %}
    <!-- end messages success -->
    {% endblock %}

    <!--overview start-->
    <div class="row" style="padding-bottom: 10px;">
			<div class="">
				<ol class="breadcrumb">
					<li><i class="fa fa-home"></i><a href="{% url 'dashboard:index' %}">Home</a></li>
          {% block overview %}
          {% endblock%}
				</ol>
			</div>
		</div>

    <!--end overview start-->
    <div id="content" class="">
      {% block content %}
      {% endblock %}
    </div>
    </section>
    <footer  class="text-center">
      <div class="credits">
        <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
        -->
        <!-- <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </footer>
  </section>
  <!-- end content -->

  <!-- modal state-->
  <div class="modal fade" id="modalEmergente">
    <div class="modal-dialog">
      <div class="modal-content">
        {% block modal-title %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        {% endblock %}

        {% block modal-form %}
        {% endblock %}

        {% block modal-body %}
        <div class="modal-body">
        </div>
        {% endblock %}
        {% block modal-footer %}
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        {% endblock %}

        {% block modal-end-form %}
        {% endblock %}

      </div>
    </div>
  </div>
  <!-- end modal -->

  <!-- modal upload-->
  <div class="modal fade" id="modalUpload">
    <div class="modal-dialog">
      <div class="modal-content">
        {% block modal-upload-title %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Carga Masiva</h4>
        </div>
        {% endblock %}
        {% block modal-upload-body %}
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <form action="{% block url_upload %}{% endblock%}" id="upload" class="dropzone" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              </form>
            </div>
        </div>
        {% endblock %}
        {% block modal-upload-footer %}
        <div class="modal-footer">
          <button id="upload-submit" class="btn btn-danger hide">Enviar</button>
          <a class="btn btn-default" href="" data-dismiss="modal">Cancelar</a>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- end modal -->


    <!-- javascripts -->
    <script src="{% static 'tenant/js/jquery.js' %}"></script>
	  <!-- <script src="{% static 'tenant/js/jquery-ui-1.10.4.min.js' %}"></script> -->
    <script src="{% static 'tenant/js/jquery-1.8.3.min.js' %}"></script>


    <!-- <script type="text/javascript" src="{% static 'tenant/js/jquery-ui-1.9.2.custom.min.js' %}"></script> -->

    <!-- bootstrap -->
    <script src="{% static 'tenant/js/bootstrap.min.js' %}"></script>

    <!-- nice scroll -->
    <script src="{% static 'tenant/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'tenant/js/jquery.nicescroll.js' %}" type="text/javascript"></script>

    <!--custome script for all page-->
    <script src="{% static 'tenant/js/scripts.js' %}"></script>

    <!-- bootstrap validator -->
    <script src="{% static 'js/validator.js' %}"></script>

    <!--  Upload Preview -->
    <script type="text/javascript" src="{% static 'js/uploadPreview.min.js'%}"></script>

    <!-- Bootstrap table -->
    <script src="{% static 'tenant/js/bootstrap-table/bootstrap-table.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/bootstrap-table-es-ES.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/bootstrap-table-export.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/FileSaver.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/xlsx.core.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/tableExport.min.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/bootstrap-table-sticky-header.js'%}"></script>
    <script src="{% static 'tenant/js/bootstrap-table/bootstrap-table-cookie.js'%}"></script>

    <!-- dropzone.js -->
    <script src="{% static 'tenant/js/dropzone.min.js'%}"></script>

    <!-- Pikaday -->
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/pikaday.min.js' %}"></script>
    <script src="{% static 'js/pikaday.jquery.js' %}"></script>

    <!-- dashboard js -->
    <script src="{% static 'tenant/js/dashboard.js' %}"></script>

    <!-- Numeric -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <!-- Numeral.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <!-- jStat -->
    <script src="https://cdn.jsdelivr.net/jstat/latest/jstat.min.js"></script>
    <!-- Formula -->
    <script src="{% static 'tenant/js/formula/formula.js' %}"></script>
    <script src="{% static 'tenant/js/formula/formula-parser.min.js' %}"></script>

    <!-- turbolinks -->
    <!-- <script src="{% static 'tenant/js/turbolinks.js' %}"></script> -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    {% block extrajs %}
    {% endblock %}
  </body>
</html>
