{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Registrar Empresa
{% endblock %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
{% endblock %}

{% block content %}
<div class="container">
  <div class="login sign-up">

    <!-- messages erros -->
    {% if form.errors %}
        <div class="alert alert-danger">
          {{ password }}
        {% for field in form %}
            {% for error in field.errors %}
              <strong><div>{{ error|escape }}</div></strong>

            {% endfor %}
        {% endfor %}
        </div>

        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
    {% endif %}
    <!-- end messages erros -->

  <div class="panel panel-success">
	  <div class="panel-heading" style="text-align:center;font-size:22px">Registrar Empresa</div>
	  <div class="panel-body">
      <form method="post" class="form-empresa" data-toggle="validator">
			{% csrf_token %}

      <div class="col-sm-4">
        <div class="row">
          <div class="">
            <div class="logo cuadrado">
            </div>
          </div>
          <div class="">
            <br>
            {{ form.logo }}
            <br>

          </div>
        </div>
      </div>

			<div class="col-sm-8">
				<br>

				<div class="form-input form-input-empresa">
          <div class="form-group has-feedback disableModal">
            {{ form.nit.label_tag }}
            {{ form.nit }}
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group has-feedback disableModal">
            {{ form.nombre_comercial.label_tag }}
            {{ form.nombre_comercial }}
            <div class="help-block with-errors"></div>
          </div>
				</div>

        <div class="form-group has-feedback text-left disableModal" >
          {{ form.razon_social.label_tag }}
          {{ form.razon_social }}
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-input form-input-empresa">
          <div class="form-group has-feedback disableModal">
            {{ form.telefono.label_tag }}
            {{ form.telefono }}
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group has-feedback disableModal">
            {{ form.correo.label_tag }}
            {{ form.correo }}
            <div class="help-block with-errors"></div>
          </div>
				</div>

        <div class="form-input form-input-empresa">
          <div class="form-group has-feedback disableModal">
            {{ form.ciudad.label_tag }}
            {{ form.ciudad }}
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group has-feedback disableModal">
            {{ form.direccion.label_tag }}
            {{ form.direccion }}
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <div class="form-group has-feedback text-left">
            <label for="password">Digite su contraseña para continuar:</label>
            <input type="password" class="form-control" name="password" required>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-input">
          <div class="g-recaptcha" data-sitekey="6Lc_RB4UAAAAAIjVIJgONuqnMd3sVRZwLEVC_rvH"></div>
        </div>

        <br>

				<div class="form-group form-input">

					<button type="submit" class="btn btn-primary login-btn">Guardar</button>
				</div>

        <input type="hidden" name="user" value="{{ user.id }}">

			</div>
    </form>
		</div>
	  </div>
  </div>
</div>
{% endblock %}

<script>
if ($(".disableModal").hasClass( "has-error" )){
  $("#openModal").attr("disabled", "true");
}




</script>
