{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Registrar Empresa
{% endblock %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="login sign-up">
  <div class="panel panel-success">
	  <div class="panel-heading" style="text-align:center;font-size:22px">Registrar Empresa</div>
	  <div class="panel-body">
      <form method="post" class="form-empresa">
			{% csrf_token %}
      <div class="col-sm-4 login-left">

          <div class="logo cuadrado">

          </div>
      </div>
			<div class="col-sm-8 login-right">
				<br>
				<div class="form-input form-input-empresa">
          <div class="form-group">
            {{ form.nit.label_tag }}
            {{ form.nit }}
          </div>
          <div class="form-group">
            <label for="">Nombre Comercial</label>
            <input type="text" class="form-control" data-container="body" data-toggle="popover" data-placement="top" data-content="Tenga en cuenta que con el Nombre comercial, se genera la URL a la cual debera acceder. Ejemplo: https://nombreComercial.scr.com" data-original-title="" title="" aria-describedby="popover851554">
          </div>
				</div>
        <div class="form-group text-left" >
          {{ form.razon_social.label_tag }}
          {{ form.razon_social }}
        </div>
        <div class="form-input form-input-empresa">
          <div class="form-group">
            {{ form.telefono.label_tag }}
            {{ form.telefono }}
          </div>
          <div class="form-group">
            {{ form.correo.label_tag }}
            {{ form.correo }}
          </div>
				</div><div class="form-input form-input-empresa">
          <div class="form-group">
            {{ form.ciudad.label_tag }}
            {{ form.ciudad }}
          </div>
          <div class="form-group">
            {{ form.direccion.label_tag }}
            {{ form.direccion }}
          </div>
				</div>
        <br>
				<div class="form-group form-input">
					<button class="btn btn-primary login-btn" type="submit">Guardar</button>
				</div>
			</form>
			</div>
		</div>
	  </div>
  </div>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ form.errors }}
      <button type="submit" class="btn btn-info">Guardar</button>
  </form>
</div>
{% endblock %}
