body{
  background-color: #2f4050 !important;
}
.login-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login{
<<<<<<< HEAD
    margin: 10vh auto;
    position: relative;
    z-index: 1;
=======
>>>>>>> usuarios
    background: #FFFFFF;
    max-width: 400px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.login-img{
  width: 100%;
  margin-bottom: 10px;
}
.login__btn{
    width: 100%;
}
