{% extends 'base/base_list.html' %}
{% load staticfiles %}

{% block overview %}
<li><i class="fa fa-bus" aria-hidden="true"></i>Vehiculos</li>
{% endblock%}

{% block btn-new %}
<i class="fa fa-plus table-btn-padding-right" aria-hidden="true"></i>
Nuevo Vehiculo
{% endblock %}

{% block table-head %}
<thead>
  <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th data-halign="center" data-align="center" data-field="placa"  data-sortable="true" >Placa</th>
      <th data-halign="center" data-align="center" data-field="conductorDefault" data-sortable="true">Conductor</th>
      <th data-halign="center" data-align="center" data-field="numeroInterno" data-sortable="true">N° Interno</th>
      <th data-halign="center" data-align="center" data-field="marca" data-sortable="true">Marca</th>
      <th data-halign="center" data-align="center" data-field="estado" data-sortable="true">Estado</th>
      <th data-halign="center" data-align="center" data-field="acciones">Acciones</th>
  </tr>
</thead>
{% endblock %}

{% block table-body %}
<tbody>
  {% if object_list %}
  {% for vehiculo in object_list %}
    <tr>
        <td></td>
        <td><a href="{% url 'dashboard:vehiculo:vehiculo_edit' vehiculo.placa %}">{{ vehiculo.placa }}</a></td>
        <td>{{ vehiculo.conductorDefault }}</td>
        <td>{{ vehiculo.numeroInterno }}</td>
        <td>{{ vehiculo.marca }}</td>
        <td>{% if vehiculo.activo_inactivo %}Activo{% else %}Inactivo{% endif %}</td>
        <td>
          <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'dashboard:vehiculo:vehiculo_edit' vehiculo.placa %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="btn-group">
            <a onclick="change_status('{{ vehiculo.placa }}', '{{ csrf_token }}', '{% url 'dashboard:vehiculo:vehiculo_delete' %}', '{% url 'dashboard:vehiculo:vehiculo_list' %}')" class="btn btn-danger" data-toggle="modal" data-target="#modalEmergente"><i class="fa fa-ban" aria-hidden="true"></i></a>
          </div>
        </td>
    </tr>
  {% endfor %}
  {% else %}
    <h3 class="page-header"><i class="fa fa-laptop"></i> No hay registros</h3>
  {% endif %}
</tbody>
{% endblock %}
