/* Estilos para tablas */
.navbar.navbar-default{
  /*height: 64px !important;*/
}
.div-brand{
  width: 200px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}
.brand-tenant {
    font-size: 22px;
    font-weight: 500;
    /*line-height: 20px;*/
    color: #E8B80C;
    margin-bottom: 0;
}
.brand-separator{
  color: #fff;
  font-size: 18px;
  padding: 0 5px;
}

@media  (max-width: 768px) {
  .hide-navbar{
    display: none !important;
  }
  .top-sidenav{
    margin-top: 0 !important;
  }
}
.table-btn-padding-right{
  padding-right: 8px;
}
/*handsontable*/
.scroll-container{
  width: 1150px;
  height: 500px;
  margin: 1rem 0 1rem;
  overflow: hidden;
}
.fixed-container{
  width: 1150px;
}
/*navbar*/
.navbar-logo{
  height: 84px;
}
/* iconos del sidenav*/
.sub-icon{
  font-size: 14px !important;
}
.sub-menu-icon{
  font-size: 14px !important;
  position: absolute;
  right: 15px;
}
/* para las vistas form new*/
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Cuadrado para las imagenes*/
.cuadrado,  .rectangulo{
  background: #f2f2f2;
  margin: 20px auto;
}
.cuadrado {
   width: 200px;
   height: 200px;
}
.rectangulo{
  width: 100%;
  height: 350px;
}
.rectangulo img{
  width: 100%
  background-size: cover;
  overflow: hidden;
}

/*mostrar btn cuando archivos son subidos*/
.hide{
  opacity: 0;
  transition: 1s;
}
.show{
  opacity: 1;
  transition: 1s;
}

.left-input{
  margin-left: 16px !important;
}
/* img card*/
.img-card{
  width: 100%;
}

/* estilos mapa */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 600px;
  max-height: 800px;
  width: 95%;
  bottom: 10px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

/* Animacion */
.fadeIn{
  animation: fadeIn 1s;
}
.fadeOut{
  animation: fadeOut .5s ;
}

@keyframes fadeIn {
  from{ opacity: 0; }
  to{ opacity: 1;}
}
@keyframes fadeOut {
  from{ opacity: 1; }
  to { opacity: 0; }
}

/*sidenav copy paste*/
@media (min-width: 765px) {
   .main{
     position: absolute;
     width: calc(100% - 40px);
     margin-left: 40px;
     float: right;
   }

   nav.sidebar:hover + .main{
     margin-left: 200px;
   }

   nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0px;
   }

   nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
     text-align: center;
     width: 100%;
     margin-left: 0px;
   }

   nav.sidebar a{
     padding-right: 13px;
   }

   nav.sidebar .navbar-nav > li:first-child{
     border-top: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav > li{
     border-bottom: 1px #e5e5e5 solid;
   }

   nav.sidebar .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
   }

   nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
     padding: 0 0px 0 0px;
   }

   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: #777;
   }

   nav.sidebar{
     width: 200px;
     height: 100%;
     margin-left: -160px;
     float: left;
     margin-bottom: 0px;
   }

   nav.sidebar li {
     width: 100%;
   }

   nav.sidebar:hover{
     margin-left: 0px;
   }

   .forAnimate{
     opacity: 0;
   }
 }

 @media (min-width: 1330px) {

   .main{
     width: calc(100% - 200px);
     margin-left: 200px;
   }



   nav.sidebar{
     margin-left: 0px;
     float: left;
   }

   nav.sidebar .forAnimate{
     opacity: 1;
   }
 }

 nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
   color: #CCC;
   background-color: transparent;
 }

 nav:hover .forAnimate{
   opacity: 1;
 }
 section{
   /*padding-left: 15px;*/
 }
