{% extends 'base/base_users.html' %}
{% load staticfiles %}

{% block extrastatic %}
{{ form.media.css }}
{% endblock %}

{% block extrajs %}
{{ form.media.js }}
{% endblock %}

{% block title %}
Registrar Empresa
{% endblock %}

{% block title_panel %}
<p>Registrar Empresa</p>
{% endblock %}

{% block color_panel %}
panel-success
{% endblock %}

{% block colum_one_size %}
col-lg-4 col-md-12
{% endblock %}

{% block colum_two_size %}
col-lg-8 col-md-12
{% endblock %}


{% block form %}
  <form enctype="multipart/form-data" method="post" class="form-empresa" data-toggle="validator">
  {% csrf_token %}
{% endblock%}

{% block end_form %}
  </form>
{% endblock%}

{% block colum_one %}
  <div class="cuadrado" id="image-preview">
    {% if user.logo.url != ''%}
      <img src="{{ user.logo }}" style="width:100%" alt='user'>
    {% endif %}
  </div>
  <div class="text-left">
    <label for="image-upload" id="image-label">Elige una imagen</label>
    {{ form.logo }}
  </div>
{% endblock %}

{% block colum_two %}
  <div class="row">

    <div class="col-lg-6 col-md-12 form-group has-feedback disableModal text-left">
      {{ form.nit.label_tag }}
      {{ form.nit }}
      <div class="help-block with-errors"></div>
    </div>
    <div class="col-lg-6 col-md-12 form-group has-feedback disableModal text-left">
      {{ form.nombre_comercial.label_tag }}
      {{ form.nombre_comercial }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-12 form-group has-feedback text-left disableModal" >
      {{ form.razon_social.label_tag }}
      {{ form.razon_social }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-6 form-group has-feedback disableModal text-left">
      {{ form.telefono.label_tag }}
      {{ form.telefono }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-6 form-group has-feedback disableModal text-left">
      {{ form.correo.label_tag }}
      {{ form.correo }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-6 form-group has-feedback disableModal text-left">
      {{ form.departamento.label_tag }}
      {{ form.departamento }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-6 form-group has-feedback disableModal text-left">
      {{ form.ciudad.label_tag }}
      {{ form.ciudad }}
      <div class="help-block with-errors"></div>
    </div>

    <div class=" col-lg-12 form-group has-feedback disableModal text-left">
      {{ form.direccion.label_tag }}
      {{ form.direccion }}
      <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-12 form-group has-feedback text-left">
        <label for="password">Digite su contraseña para continuar:</label>
        <input type="password" class="form-control" name="password" required>
        <div class="help-block with-errors"></div>
    </div>

    <div class="col-lg-12 form-group has-feedback text-left">
      {{ form.captcha }}
      <div class="help-block with-errors">
        <pcaptcha class="errors">{{ form.captcha.errors|striptags }}</pcaptcha>
      </div>
    </div>

    <div class="col-lg-12 form-group form-input">
      <button type="submit" class="btn btn-primary login-btn">Guardar</button>
    </div>

    <input type="hidden" name="user" value="{{ user.id }}">

  </div>
{% endblock %}
