{% load staticfiles %}
{% load recaptcha2 %}
<!DOCTYPE html>
<html lang="en">
<head>  
  {% recaptcha_init %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">

  <!--  recapchat-->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  {% block extrastatic %}
  {% endblock %}

  <title>{% block title %} Document {% endblock %}| SCR</title>

</head>
<body>

  {% block navbar %}
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-fixed-top header cl-effect-21">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/">
          <img src="{% static 'img/scr.png' %}" alt="SCR" class="navbar-logo">
        </a>
      </div>

      <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right nav-btn">
          <li><a href="#inicio" class="navbar-option">Inicio</a></li>
          <li><a href="#services" class="navbar-option">Beneficios</a></li>
          <li><a href="#clients" class="navbar-option">Clientes</a></li>
          <li><a href="#price" class="navbar-option">Planes</a></li>
            <li><a href="#contact" class="navbar-option">Contáctenos</a></li>
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" style="text-transform:uppercase" data-toggle="dropdown" role="button" aria-expanded="false">
                {{ user.get_short_name }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'usuario:usuario_edit' user.id %}">Ver Perfil</a></li>
                <li><a href="{% url 'tenant:tenant_new' %}">Pagar</a></li>
                <li><a href="{% url 'logout' %}">Salir</a></li>
              </ul>
            </li>
          {% else %}
            <li>
              {% block navbar-btn %}
              <a href="{% url 'tenant_login' %}" style="">
                <button  class="btn btn-warning">Iniciar sesión</button>
              </a>
              {% endblock navbar-btn %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  {% endblock %}


  {% block content %}
  {% endblock%}

  {% block footer%}
    <!-- footer -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <p class="no-margin-bottom"><strong>SCR | Sistema de control de rutas.</strong>
                  <br>
                  Universidad del Valle, Cali-Colombia
                  <br>
                  (432) 555-9876
                  <br>
                  <a href="#">info@scr.com</a>
                </p>
              </div>
            <div class="col-sm-6 col-xs-6">
                <ul class="footer-social">
                  <li><a href="#" class="footer-social-facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="footer-social-twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="footer-social-google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
                <div class="copyright">
                    <p>Copyright © 2017 <a href="#">SCR</a>. Todos los derechos reservados</p>
                </div>
            </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
  {% endblock %}

  <!-- modal -->
  <div class="modal fade" id="modalEmergente">
    <div class="modal-dialog">
      <div class="modal-content">
        {% block modal-title %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        {% endblock %}
        {% block modal-body %}
        <div class="modal-body">
        </div>
        {% endblock %}
        {% block modal-footer %}
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <!-- end modal -->


  <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/uploadPreview.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>


  {% block extrajs %}
  {% endblock %}

  <script>
  // Cierra los mensajes de alerta
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $( document ).ready(function(){
    $(".alert").fadeIn("slow").delay(6000).fadeOut("slow");
  });

  </script>
</body>
</html>
