{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
    {% block extrastatic %}
    {% endblock %}
    <title>SCR | {% block title %}{% endblock %}</title>
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
    <script>
    // Cierra los mensajes de alerta
    $( document ).ready(function(){
      $(".alert").fadeIn("slow").delay(6000).fadeOut("slow");
    });
    </script>
  </body>
</html>
