{% extends 'base/base_password.html' %}

{% block panel-body %}
<form method="post">
	{% csrf_token %}

	<div class="form-group has-feedback text-left">
		<label for="id_email">Correo electronico:</label>
		<input type="email" id="id_email" pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$" name="email" class="form-control" placeholder="Ingrese su correo electrónico" required>
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group text-left">
		<input type="submit" class="btn btn-primary btn-login col-sm-2 col-xs-12" value="Enviar"/>
	</div>

</form>
{% endblock %}

{% block panel-back %}
<div class="back">
	¿Qué hago aquí?
	<a href="{% url 'tenant_login' %}">Regresar</a>
</div>
{% endblock %}
