{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}"/>
{% endblock %}

{% block title %}
SCR
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
  <header>
    <div class="shadow">

      <!-- navbar -->
      <nav class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SCR</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Beneficios</a></li>
              <li><a href="#">Clientes</a></li>
              <li><a href="#">Pagar</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="btn btn-danger">Salir</a></li>
              {% else %}
                <li><a href="{% url 'login' %}" class="btn btn-warning">Iniciar sesión</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- end navbar -->

      <!-- section -->
      <section class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="header-title">SCR</h1>
              <h2 class="header-subtitle">Sistema de control de rutas</h2>
              <div class="header-section">
                <img class="col-md-6" src="{% static 'img/landing/macbook.png' %}" alt="">

                <div class="col-md-6 header-description ">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
                  <div class="header-call-to-action">
                    <a href="/usuario/registrar" class="btn btn-success btn-lg header-call-to-action-btn">Comienza Ya!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end section -->
    </div>
  </header>
{% endblock%}
