{% extends 'base/base_dashboard.html' %}
{% load staticfiles %}

{% block overview %}
<li><i class="fa fa-th" aria-hidden="true"></i><a href="{% url 'dashboard:planilla:planilla_list'%}">Planilla</a></li>
<li><i class="fa fa-plus"></i>Nuevo</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2" style="padding-left:0">
      <input type="date" value="{{fecha}}" id="fecha" class="form-control" disabled>
    </div>

    <div class="btn-group col-md-8" data-toggle="buttons">
      <button class="btn btn-primary" id="load_template" data-toggle="modal" data-target="#modalEmergente">Cargar Template</button>
      <label for="" class="btn btn-primary {{template}}" id="active_template">
        <input type="checkbox" id="done_template">
        Hacer Template
      </label>
    </div>



    <div class="btn-group col-md-2" style="padding-right: 0;
    display: flex;
    justify-content: flex-end;">
      <button class="btn btn-success" id="{{btn_id}}">{{btn_value}}</button>
    </div>

    <input type="hidden" value="{{ruta}}" id="ruta">
    <input type="hidden" value="{{conductor}}" id="conductor">
    <input type="hidden" value="{{vehiculo}}" id="vehiculo">
    <input type="hidden" value="{{data}}" id="json">
  </div>

  <div id="planilla" class="scroll-container fixed-container"></div>
{% endblock %}

<!-- modal -->
{% block modal-title %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Cargar Template</h4>
  </div>
{% endblock %}

{% block modal-body %}
  <div class="modal-body row">
    {% if templates %}
      {% for template in templates %}
        <div class="col-xs-4" style="padding-bottom: 15px;">
          <strong>{{template.fecha}}</strong>
          <a class="btn btn-default btn-template" onclick="get_template({{template.id}})" href="#">
            <i class="fa fa-file icon-template" aria-hidden="true"></i>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>no hay templates</p>
    {% endif %}
  </div>
{% endblock %}

{% block modal-footer %}
  <div class="modal-footer">
    <input type="submit" class="btn btn-success" value="Confirmar">
    <a class="btn btn-default" href="#" class="close" data-dismiss="modal">Cancelar</a>
  </div>
{% endblock %}
<!-- end modal -->

{% block extrajs %}
<script type="text/javascript">
// $(document).ready(function() {

  // Informacion de conductores, vehiculos y ruta en formato JSON
  var conductor_json, vehiculo_json, ruta_json;
  var ruta_array = [], vehiculo = [];

  conductor_json = JSON.parse(document.getElementById('conductor').value);
  conductor_json = JSON.parse(JSON.stringify(conductor_json, ['cedula','apellidos', 'nombres']));

  vehiculo_json = JSON.parse(document.getElementById('vehiculo').value)

  ruta_json = JSON.parse(document.getElementById('ruta').value)
  ruta_array = JSON.parse(JSON.stringify(ruta_json, ['codigo_ruta','nombre_ruta']));

  // llenar un array con las placas de los vehiculos
  // para mostrarlo en la handsontable
  for(var i = 0; i < vehiculo_json.length; i++){
    vehiculo[i] = vehiculo_json[i].placa
  }

  // Funcion para calcular el tiempo Operado
  function tiempoOperado(inicio, fin){
    inicio = parseFloat(inicio.substring(0,2)) + parseFloat(inicio.substring(3))/60;
    fin = parseFloat(fin.substring(0,2)) + parseFloat(fin.substring(3))/60;
    var hora = fin - inicio;
    return parseFloat(hora.toFixed(2))
  }

  // Obtengo los nombres de los campos que se debe sumar para el total de Ingreso
  var camposValores = ['fields.valor_ruta',
                   'fields.valor_tercero',
                   'fields.valor_hora_adicional',
                   'fields.viaticos',
                   'fields.descuentos_conductor',
                   'fields.adicional_conductor']
  // variable que almacena los valores numericos de los camposValores
  var totalIngreso = [];
  var totalIngresoRow = [];


  // Handsontable
  var hot;
  var container = document.getElementById('planilla');
  // Obtengo la fecha de creacion de la planilla
  var fecha = document.getElementById('fecha').value

  hot = new Handsontable(container, {
      startRows: 18,
      startCols: 18,
      minSpareRows: 3,
      rowHeaders: true,
      fixedRowsTop: 1,
      fixedColumnsLeft: 1,
      formulas: true,
      colWidths: [100, 100, 100, 100, 130, 100, 140, 140,
                  160, 140, 100, 100, 100, 140, 100, 170,
                  160, 100, 100],
      contextMenu: true,
      manualRowMove: true,
      manualColumnResize: true,
      manualRowResize: true,
      fillHandle: {
        direction: 'vertical',
      },
      colHeaders: ['Codigo Ruta',
                  'Hora Inicio',
                  'Hora Fin',
                  'Hora Adicional',
                  'Tiempo Operado',
                  'Kilometros',
                  'Observaciones',
                  'Novedades',
                  'Cedula Conductor',
                  'Conductor',
                  'Flota',
                  '$ Valor Ruta',
                  '$ Valor Tercero',
                  '$ Valor Hora Adicional',
                  '$ Viaticos',
                  '$ Descuentos al Conductor',
                  '$ Adicional al Conductor',
                  'Placa',
                  '$ Total Ingreso'],
      columns: [
        // Column 0
        {
          data: 'fields.ruta',
          type: 'handsontable',
          handsontable: {
            colHeaders: ['Codigo', 'Nombre'],
            autoColumnSize: true,
            data:ruta_array,
            getValue: function() {
            	var selection = this.getSelected();

              // Get always manufacture name of clicked row
              return this.getSourceDataAtRow(selection[0]).codigo_ruta;
            },
          }
        },
        // Column 1
        {data: 'fields.hora_inicio', format: '24-hour clock', editor: false},
        // Column 2
        {data: 'fields.hora_fin', format: '24-hour clock', editor: false},
        // Column 3
        {data: 'fields.hora_adicional', type: 'numeric'},
        // Column 4
        {data: 'fields.tiempo_operado', editor: false},
        // Column 5
        {data: 'fields.kilometros', type: 'numeric', editor: false, format: '0.0000' },
        // Column 6
        {data: 'fields.observaciones'},
        // Column 7
        {data: 'fields.novedades'},
        // Column 8
        {
          data: 'fields.conductor',
          type: 'handsontable',
          handsontable: {
            colHeaders: ['Cedula', 'Apellidos', 'Nombres'],
            autoColumnSize: true,
            data: conductor_json,
            getValue: function() {
            	var selection = this.getSelected();

              // Get always manufacture name of clicked row
              return this.getSourceDataAtRow(selection[0]).cedula;
            },
          }
        },
        // Column 9
        {data: 'fields.nombres', editor: false},
        // Column 10
        {data: 'fields.flota'},
        // Column 11
        {data: 'fields.valor_ruta', type: 'numeric', format: '$0,0.00'},
        // Column 12
        {data: 'fields.valor_tercero', type: 'numeric', format: '$0,0.00'},
        // Column 13
        {data: 'fields.valor_hora_adicional', type: 'numeric', format: '$0,0.00'},
        // Column 14
        {data: 'fields.viaticos', type: 'numeric', format: '$0,0.00'},
        // Column 15
        {data: 'fields.descuentos_conductor', type: 'numeric', format: '$0,0.00'},
        // Column 16
        {data: 'fields.adicional_conductor', type: 'numeric', format: '$0,0.00'},
        // Column 17
        {data: 'fields.placa', type: 'autocomplete', source: vehiculo, strict: true},
        // Column 18
        {data: 'fields.total_ingreso', type: 'numeric', format: '$0,0.00'}
      ],
      afterChange : function(arr, op) {

        if(op == "edit" && arr.length == 1) {

            // variable que almacena la suma de todos los valores
            // var total = 0;

            // almaceno los valores asociados a los campos numericos
            // for(var j = 0; j < camposValores.length; j++){
            //   if(arr[0][1] == camposValores[j]){
            //     totalIngreso[j] = arr[0][3];
            //   }
            // }
            // Hago una sumatoria de los valores almacenados previamente
            // for(var j = 0; j < totalIngreso.length; j++){
            //   total += totalIngreso[j];
            // }
            // Obtengo el valor del campo editado
            var value = arr[0][3];
  					for(var i = 0; i < ruta_json.length; i++) {
  						if(ruta_json[i].codigo_ruta == value) {

                // var value = this.getDataAtCell(arr[0][0], 11);


                var tiempo_operado = tiempoOperado(ruta_json[i].hora_inicio, ruta_json[i].hora_fin)

                this.setDataAtCell(arr[0][0], 1, ruta_json[i].hora_inicio);
                this.setDataAtCell(arr[0][0], 2, ruta_json[i].hora_fin);
                this.setDataAtCell(arr[0][0], 3, 0);
                this.setDataAtCell(arr[0][0], 4, tiempo_operado);
                this.setDataAtCell(arr[0][0], 5, ruta_json[i].kilometros);
                this.setDataAtCell(arr[0][0], 11, ruta_json[i].valor_ruta);
                this.setDataAtCell(arr[0][0], 12, ruta_json[i].valor_tercero);
                this.setDataAtCell(arr[0][0], 13, ruta_json[i].valor_hora_adicional);
                this.setDataAtCell(arr[0][0], 14, 0);
                this.setDataAtCell(arr[0][0], 15, 0);
                this.setDataAtCell(arr[0][0], 16, 0);
                this.setDataAtCell(arr[0][0], 18, 0);
  							// return false;
  						}
  					}
            for(var i = 0; i < conductor_json.length; i++) {
              if(conductor_json[i].cedula == value) {
                this.setDataAtCell(arr[0][0], 9, conductor_json[i].nombres + ' ' + conductor_json[i].apellidos);
              }
            }
  				}
  			},
        afterLoadData: function(firstTime){
          // console.log(firstTime)
        }

      });

    function add_pk_ruta_to_data(data){
      for(var i = 0; i < data.length; i++) {
        if(data[i][0] != null){
          data[i][0] = parseInt(data[i][0]) ;
        }
      }
      return data;
    }

    // Validar que la placa y el conductor no esten vacios
    // La validacion pasa si retorna true
    function validate_empty_cell(colum, message){
      var rows_with_data = hot.countRows() - hot.countEmptyRows();
      var element = [];
      for(var i = 0; i < rows_with_data; i++){
        element[i] = hot.getDataAtCell(i, colum) == null ? true : false;
      }
      function is_null(value){
        return value
      }
      if(element.find(is_null)){
        alert(message)
        return false;
      }else{
        return true;
      }
    }

    // Validar que hay registros
    // La validacion pasa si retorna true
    function validate_empty_registry(message){
      var rows_with_data = hot.countRows() - hot.countEmptyRows();
      if (!rows_with_data){
        alert(message);
        return false;
      }else{
        return true;
      }
    }
    // Obtener el valor del checkbox para saber si debe guardarse como template la planilla
    function is_template(){
      var template = $('#active_template').hasClass('active');
      return template ;
    }

    // send data to server
    function save_data(url){
      var registry, conductor_cell, vehiculo_cell;

      registry = validate_empty_registry('No hay registros para guardar')
      conductor_cell = validate_empty_cell(17, 'Hay registros con placas vacios, por favor revisa!');
      vehiculo_cell = validate_empty_cell(8, 'Hay registros con conductores vacios, por favor revisa!');

      // Todas las validaciones deben ser true para poder guardar los datos
      if(registry && conductor_cell && vehiculo_cell){
        // Obtener data de handsontable
        var data = JSON.stringify(add_pk_ruta_to_data(hot.getData()));
        var template = is_template();
        console.log(template)

        var data_to_post = {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'fecha': fecha,
          'template': template,
          'table_content' : data,
        };
        $.ajax({
          type: "POST",
          url: url,
          data : data_to_post,
          success: function(data) {
            alert('success')
            console.log(data)
            location.href = "{% url 'dashboard:planilla:planilla_list' %}"

          },
          failure: function(data) {

              $( "#messages div" ).remove();
              $( "#messages" ).append( "<div class='alert alert-danger'><strong>Error!</strong>" +data + "</div>" );
          }
        });
        // end ajax
      }else{
        alert('No se pudo guardar la informacion')
      }


    }
    // Dispara la funcion save_data para guardar la planilla
    $('#save_planilla').click(function(){
      var url = "{% url 'dashboard:planilla:planilla_save' %}";
      save_data(url);
    });
    // Dispara la funcion save_data para actualizar la planilla
    $('#update_planilla').click(function(){
      var url = "{% url 'dashboard:planilla:planilla_edit'  planilla_id %}";
      save_data(url)
    });
    // end post data

    /* --------------------------------------------------------------------
     * Script para cargar data
     * -------------------------------------------------------------------- */
    // Extraer data del input y almacenarlo en una variable
    var data = document.getElementById('json').value
    if (data != null){
     data = JSON.parse(data)
    }

    // Agregar el campo nombres al JSON antes de cargarlo
    function add_nombres_to_data(data){
      for(var i = 0; i < data.length; i++) {
        for(var j = 0; j < conductor_json.length; j++) {
          if(data[i].fields.conductor == conductor_json[j].cedula) {
            data[i].fields.nombres = conductor_json[j].nombres + ' ' + conductor_json[j].apellidos
          }
        }
      }
      return data;
    }

    // Cargar data en handsontable
    hot.loadData(add_nombres_to_data(data));

    // funcion para cargar el datos a handsontable
    function load_data(data){
      hot.loadData(add_nombres_to_data(data));
    }
	// });
  // end document ready

  /* --------------------------------------------------------------------
   * Script para obtener el template
   * -------------------------------------------------------------------- */

  function get_template(pk){
    var request = $.ajax({
        type: "POST",
        url: "{% url 'dashboard:planilla:planilla_get'%}",
        data: {
            "csrfmiddlewaretoken": '{{ csrf_token }}',
            "pk": pk
        },
    });
    request.done(function(response) {
        if (response){
          $('#modalEmergente').modal('toggle')
          var data = JSON.parse(response)
          // Cargar data en handsontable
          load_data(data)
          // console.log(data)
        }
    });
  }
</script>
{% endblock %}
