{% extends 'base/base_list.html' %}
{% load staticfiles %}

{% block overview %}
<li><i class="fa fa-th" aria-hidden="true"></i>Planilla</li>
{% endblock%}

{% block btn-new %}
<i class="fa fa-user-plus table-btn-padding-right" aria-hidden="true"></i>
Nueva Planilla
{% endblock %}

{% block modal %}
data-toggle="modal" data-target="#modalEmergente"
{% endblock %}

{% block url_upload %}
{% url 'dashboard:planilla:planilla_import' %}
{% endblock%}

{% block url_download %}
{% url 'dashboard:planilla:planilla_export' %}
{% endblock%}

{% block table-head %}

<thead>
  <tr>
    <th data-field="state" data-checkbox="true"></th>
    <th data-halign="center" data-align="center" data-field="fecha"  data-sortable="true" >Fecha de creación</th>
    <th data-halign="center" data-align="center" data-field="template"  data-sortable="true" >Template</th>
    <th data-halign="center" data-align="center" data-field="acciones">Acciones</th>
  </tr>
</thead>
{% endblock %}

{% block table-body %}
<tbody>
  {% if object_list %}

  {% for planilla in object_list %}
    <tr>
        <td></td>
        <td>{{ planilla.fecha }}</td>
        <td>
        {% if planilla.template %}
          <i class="fa fa-check-circle" aria-hidden="true" style="color:green; font-size:18px"></i>
        {% else %}
          <i class="fa fa-times-circle" aria-hidden="true" style="color:red; font-size:18px"></i>
        {% endif %}
        </td>
        <td>
          <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'dashboard:planilla:planilla_edit' planilla.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <!-- <a class="btn btn-primary" id="planilla" onclick="planilla_get()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> -->
          </div>
        </td>
    </tr>
  {% endfor %}
  {% else %}
    <!-- <h3 class="page-header"><i class="fa fa-laptop"></i> No hay registros</h3> -->
  {% endif %}
</tbody>
{% endblock %}

<!-- modal -->
{% block modal-title %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Nueva Planilla</h4>
  </div>
{% endblock %}

{% block modal-form %}
<form method="post" enctype="multipart/form-data" action="{% url 'dashboard:planilla:planilla_new'%}">
{% csrf_token %}
{% endblock %}

{% block modal-body %}
  <div class="modal-body">
    <p>Crear la planilla con fecha de:</p>
    <input type="date" class="form-control datepicker" id="fechaPlanilla" name='fecha'>
  </div>
{% endblock %}

{% block modal-footer %}
  <div class="modal-footer">
    <input type="submit" class="btn btn-success" value="Confirmar">
    <a class="btn btn-default" href="#" class="close" data-dismiss="modal">Cancelar</a>
  </div>
{% endblock %}

{% block modal-end-form %}
</form>
{% endblock %}
<!-- end modal -->

{% block extrajs %}
<script>
  $('#btn-new').click(function(){
    var today = moment().format('YYYY-MM-DD');
    document.getElementById("fechaPlanilla").value = today;
  })

</script>
{% endblock %}
