{% extends 'base/base_users.html' %}
{% load staticfiles %}

{% block title %}
Registrar
{% endblock %}

{% block title_panel %}
Registrate
{% endblock %}

{% block color_panel %}
panel-success
{% endblock %}

{% block extrastatic %}
<!-- <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/> -->
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block colum_one %}
<h4>Con un Correo y contraseña:</h4>
<br>
<!-- form user_new -->
<form method="post" data-toggle="validator">
	{% csrf_token %}

	<div class="form-group has-feedback text-left" id="correo">
		{{ form.email }}
		<div class="help-block with-errors">
			{% if form.email.errors %}
				<p class="errors">{{ form.email.errors|striptags }}</p>
			{% endif %}
		</div>
	</div>

	<div class="form-group has-feedback text-left">
		<input class="form-control" data-minlength="8" data-minlength-error="Minimo 8 caracteres" type="password" name="password1" placeholder="Contraseña" data-match-error="Complete este campo" required>
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group has-feedback text-left">
		<input class="form-control" type="password" name="password2" placeholder="Confirmar contraseña" data-match-error="Complete este campo" required>
		<div class="help-block with-errors">
			{% if form.password2.errors%}
				<p class="errors">{{ form.password2.errors|striptags }}</p>
			{% else %}
				{{ form.password2.help_text|safe }}
			{% endif %}
		</div>
	</div>

	<div class="form-group has-feedback text-left">
		{{ form.captcha }}
		<div class="help-block with-errors">
			<p class="errors">{{ form.captcha.errors|striptags }}</p>
		</div>
	</div>

	<br>

	<div class="form-group form-input">
		<button class="btn btn-primary login-btn" type="submit">Registrar</button>
	</div>
</form>

<!-- end form user_new -->
{% endblock %}

{% block colum_two %}
<h4>Con tus Redes sociales:</h4>
<br>
<div class="form-group">
	<a href="#" class="btn btn-info btn-signup login-btn btn-face"><i class="fa fa-facebook fa-2x"></i></a>
</div>
<div class="form-group">
	<a href="#" class="btn btn-info btn-signup login-btn btn-twitter"><i class="fa fa-twitter fa-2x"></i></a>
</div>
<div class="form-group">
	<a href="#" class="btn btn-danger btn-signup login-btn btn-google"><i class="fa fa-google-plus fa-2x"></i></a>
</div>
{% endblock %}

<!-- si el campo email tiene errores -->
{% if form.email.errors %}
<script>
	$('#correo').addClass('has-error')
</script>
{% endif %}
