{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Registrar
{% endblock %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
	<!-- messages erros -->
	{% if form.errors %}
			{% for field in form %}
					{% for error in field.errors %}
							<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
							</div>
					{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
					<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
					</div>
			{% endfor %}
	{% endif %}
	<!-- end messages erros -->
	<div class="login sign-up">
	<div class="panel panel-success">
	  <div class="panel-heading" style="text-align:center;font-size:22px">Regístrate</div>
	  <div class="panel-body">
			<div class="col-sm-7 login-left">
				<h4>Con un Usuario y contraseña:</h4>
				<br>
			<form method="post" data-toggle="validator">
				{% csrf_token %}
				<div class="form-input">
					<div class="form-group has-feedback text-left">
				    <input type="text" class="form-control" name="first_name" data-error="Ingrese un Nombre" placeholder="Nombre" required>
						<div class="help-block with-errors"></div>
				  </div>
					<div class="form-group">
						<input class="form-control" type="text" name="last_name" placeholder="Apellido">
					</div>
				</div>
				<div class="form-group has-feedback text-left">
					<input class="form-control" type="text" name="username" data-error="Ingrese un Nombre de Usuario" placeholder="Nombre de usuario" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group has-feedback text-left">
					<input type="email" id="email" pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$" name="username" class="form-control" id="inputTwitter" placeholder="Correo Electronico" required>
			    <div class="help-block with-errors"></div>
			  </div>
				<div class="form-input text-left">
					<div class="form-group has-feedback">
						<input class="form-control" data-minlength="8" type="password" name="password1" placeholder="Contraseña" required>
						<div class="help-block">Minimo de 8 caracteres</div>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" name="password2" placeholder="Confirmar contraseña" data-match-error="Complete este campo" required>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group form-input">
					<button class="btn btn-primary login-btn" type="submit">Guardar</button>
				</div>
			</form>
			</div>

			<div class="col-sm-5 login-right">
				<h4>Con tus Redes sociales:</h4>
				<br>
				<div class="form-group">
					<a href="#" class="btn btn-info btn-signup login-btn btn-face">Facebook</a>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-info btn-signup login-btn btn-twitter">Twitter</a>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-danger btn-signup login-btn btn-google">Google +</a>
				</div>
			</div>
		</div>
	  </div>
	</div>
	</div>
{% endblock %}
