{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Registrar
{% endblock %}

{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
	<div class="login text-center">
		<!-- messages erros -->
		{% if form.errors %}
				{% for field in form %}
						{% for error in field.errors %}
								<div class="alert alert-danger">
										<strong>{{ error|escape }}</strong>
								</div>
						{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
						<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
						</div>
				{% endfor %}
		{% endif %}
		<!-- end messages erros -->
	<div class="panel panel-success">
	  <div class="panel-heading" style="text-align:center;font-size:22px">Regístrate</div>
	  <div class="panel-body">
			<div class="col-sm-7 login-left">
				<h4>Con un Correo y contraseña:</h4>
				<br>
				<!-- form user_new -->
				<form method="post" data-toggle="validator">
					{% csrf_token %}

					<div class="form-group has-feedback text-left">
						{{ form.email }}
				    <div class="help-block with-errors">
				    	{% if form.email.errors %}
							<ul class="list-unstyled">
								<li>{{ form.email.errors }}</li>
							</ul>
							{% endif %}
				    </div>
				  </div>

					<div class="form-group has-feedback text-left">
						<input class="form-control" data-minlength="8" data-minlength-error="Minimo 8 caracteres" type="password" name="password1" placeholder="Contraseña" data-match-error="Complete este campo" required>
						<div class="help-block with-errors"></div>
					</div>

					<div class="form-group has-feedback text-left">
						<input class="form-control" type="password" name="password2" placeholder="Confirmar contraseña" data-match-error="Complete este campo" required>
						<div class="help-block with-errors">{{ form.password2.help_text|safe }}</div>
					</div>

					<div class="g-recaptcha" data-sitekey="6Lc_RB4UAAAAAIjVIJgONuqnMd3sVRZwLEVC_rvH"></div>
					<br>

					<div class="form-group form-input">
						<button class="btn btn-primary login-btn" type="submit">Registrar</button>
					</div>
				</form>
				<!-- end form user_new -->

			</div>
			<!-- signup social media -->
			<div class="col-sm-5 login-right">
				<h4>Con tus Redes sociales:</h4>
				<br>
				<div class="form-group">
					<a href="#" class="btn btn-info btn-signup login-btn btn-face">Facebook</a>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-info btn-signup login-btn btn-twitter">Twitter</a>
				</div>
				<div class="form-group">
					<a href="#" class="btn btn-danger btn-signup login-btn btn-google">Google +</a>
				</div>
			</div>
			<!-- end signup social media -->
		</div>
	  </div>
	</div>
	</div>
{% endblock %}
