{% extends 'base/base_users.html' %}
{% load staticfiles %}

{% block title %}
Editar información
{% endblock %}

{% block title_panel %}
Tus Datos:
{% endblock %}

{% block color_panel %}
panel-info
{% endblock %}

{% block colum_one %}
  <form action="" method="post" style="width:100%" class="text-left" enctype="multipart/form-data">
  {% csrf_token %}

    {{ form.logo.label_tag }}
    <div class="cuadrado" id="image-preview">
      {% if user.logo.url != ''%}
        <img src="{{ user.logo.url }}" style="width:100%">
      {% endif %}
    </div>
    <div class="form-group text-left col-md-12">
      <label for="image-upload" id="image-label">Elige una imagen</label>
      {{ form.logo }}
    </div>
{% endblock %}

{% block colum_two %}
<input type="hidden" value="{{user.id}}" name="pk" id="pk">

  <div class="form-group text-left">
    <strong>Nombre: </strong>
    {{ form.first_name.errors }}
    {{ form.first_name }}
  </div>
  <div class="form-group text-left">
    <strong>Apellido: </strong>
    {{ form.last_name.errors }}
    {{ form.last_name }}
  </div>
  <div class="form-group has-feedback text-left">
    <strong>Correo: </strong>
    {{ form.email }}
    <div class="help-block with-errors">
      {% if form.email.errors %}
      <ul class="list-unstyled">
        <li>{{ form.email.errors }}</li>
      </ul>
      {% endif %}
    </div>
  </div>

  <div class="text-left">
    <a href="{% url 'usuario:usuario_password'%}">Cambiar Contraseña</a>
  </div>

  <br>

  <div class="form-group">
    <input class="btn btn-primary" style="width:100%" type="submit" value="Actualizar">
  </div>
  </form>
{% endblock %}

{% block colum_three %}

<br>

<div class="col-md-6 col-sm-12 text-left">
  <strong>Twitter:</strong>
  {% if twitter_login %}
  <div>
    Conectado como <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a>
  </div>

    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-info btn-signup login-btn btn-twitter">
          <i class="fa fa-twitter fa-2x margin-right"></i> Desconectar de Twitter
        </button>
      </form>
    {% else %}
      <button type="button" class="btn btn-info btn-signup login-btn btn-twitter" disabled>
        <i class="fa fa-twitter fa-2x margin-right"></i> Desconectar de Twitter
      </button>
      <strong style="color: red">Tu deberias <a href="{% url 'usuario:usuario_password' %}">definir una contraseña</a> para tu cuenta antes de desconectarte de Twitter.</strong>
      <br>
    {% endif %}
  {% else %}
  <a href="{% url 'social:begin' 'twitter' %}">Conectar a Twitter</a>
  {% endif %}
</div>

<div class="col-md-6 col-sm-12 text-left">
  <div class="text-left"><strong>Facebook</strong></div>
  {% if facebook_login %}
  <div class="text-left">
    Conectado como <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a>
  </div>

    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-info btn-signup login-btn btn-face">
          <i class="fa fa-facebook fa-2x margin-right"></i> Desconectar de Facebook
        </button>
      </form>
    {% else %}
      <button type="button" class="btn btn-info btn-signup login-btn btn-face" disabled>
        <i class="fa fa-facebook fa-2x margin-right"></i> Desconectar de Facebook
      </button>

      <strong style="color: red">Tu deberias <a href="{% url 'usuario:usuario_password' %}">definir una contraseña</a> para tu cuenta antes de deconectarte de Facebook.</strong>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Conectar a Facebook</a>
  {% endif %}
</div>
{% endblock %}

{% block row %}
<div class="eliminar-btn text-right">
  <a href="" class="btn btn-danger" data-toggle="modal" data-target="#modalEmergente">Eliminar cuenta</a>
</div>
{% endblock %}

{% block modal-title %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Eliminar Cuenta</h4>
</div>
{% endblock %}

{% block modal-body %}
<div class="modal-body">
  <h3>Está seguro que desea eliminar su cuenta?</h3>
</div>
{% endblock %}

{% block modal-footer %}
<div class="modal-footer">
  <button onclick="eliminarUsuario()" class="btn btn-danger">Si, eliminar</button>
  <a class="btn btn-default" class="close" data-dismiss="modal" aria-hidden="true">Cancelar</a>
</div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/uploadPreview.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
  <script>
  function eliminarUsuario() {
      $('#modalEmergente').modal('hide')
      var request = $.ajax({
          type: "GET",
          url: "{% url 'usuario:usuario_delete' %}",
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "identificador_id": {{ user.id }}
          },
      });
      request.done(function(response) {
          if (response.delete){
            $('#modalEmergente').modal(response.class)
            location.href ="{% url 'index' %}";
          }
          else{
            $('#modalEmergente').modal(response.class)
            console.log(response.message)
          }
      });
  }
  </script>
{% endblock %}
