{% extends 'base/base_dashboard.html' %}
{% load staticfiles %}


{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block overview %}
<li><i class="fa fa-laptop"></i><a href="{% url 'dashboard:conductor:conductor_list'%}">Conductores</a></li>
<li><i class="fa fa-laptop"></i>Nuevo</li>
{% endblock %}



{% block content %}
<!-- messages success -->
{% if messages %}
<div class="alert alert-dismissible alert-info">
  <button type="button" class="close text-center" data-dismiss="alert">&times;</button>
  {% for message in messages %}
  <strong>
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  </strong>
  {% endfor %}
</div>
{% endif %}
<!-- end messages success -->

<!-- messages erros -->
{% if form.errors %}
    <div class="alert alert-danger">
    {% for field in form %}
        {% for error in field.errors %}
          <strong><div>{{field}}{{ error|escape }}</div></strong>
        {% endfor %}
    {% endfor %}
    </div>

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}

{% endif %}
<!-- end messages erros -->

<section class="panel">
  <header class="panel-heading">
    Nuevo Conductor
  </header>
  <div class="panel-body">

    <form enctype="multipart/form-data" method="post" class="form-horizontal" data-toggle="validator">
        {% csrf_token %}

          <div class="col-md-4">
            <strong>Foto</strong>
            <div class="cuadrado" id="image-preview">
              {% if conductor.logo.url != ''%}
                <img src="{{ conductor.logo.url }}" alt="perfil" style="width:100%">
              {% endif %}
            </div>

            <div class="form-group has-feedback text-left col-md-12">
              {{ form.logo.erros }}
              <label for="image-upload" id="image-label">Elige una imagen</label>
              {{ form.logo }}
            </div>
          </div>

          <div class="col-md-8">
            <!-- menu tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#info" data-toggle="tab" aria-expanded="true">Datos Personales</a></li>
              <li class="" id="licenciaConduccion"><a href="#license" data-toggle="tab" aria-expanded="false">Licencia de conducción</a></li>
            </ul>
            <!-- end menu tabs -->

            <!-- tabs -->
            <div id="myTabContent" class="tab-content">

              <!-- info -->
              <div class="tab-pane fade active in" id="info">
                <br>
                <div class="col-md-12">
                  <!-- data personal -->
                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Cedula</strong>
                      {{ form.cedula.erros }}
                      {{ form.cedula }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div style="width:100%">
                    <div class="form-group has-feedback text-left col-md-6">
                      <strong>Nombres</strong>
                      {{ form.nombres.erros }}
                      {{ form.nombres }}
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback text-left col-md-6 left-input">
                      <strong>Apellidos</strong>
                      {{ form.apellidos.erros }}
                      {{ form.apellidos }}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Dirección</strong>
                    {{ form.direccion.erros }}
                    {{ form.direccion }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group has-feedback col-md-12">
                    <strong>Tipo de sangre:</strong>
                    {{ form.rh.erros }}
                    {{ form.rh }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div style="width:100%">
                    <div class="form-group has-feedback col-md-6">
                      <strong>Teléfono:</strong>
                      {{ form.telefono.erros }}
                      {{ form.telefono }}
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback col-md-6 left-input">
                      <strong>Celular:</strong>
                      {{ form.celular.erros }}
                      {{ form.celular }}
                      <div class="help-block with-errors"></div>
                    </div>

                  </div>

                  <div class="form-group has-feedback  col-md-12">
                    <strong>Correo</strong>
                    {{ form.correo.erros }}
                    {{ form.correo }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div style="width:100%">
                    <div class="form-group has-feedback text-left col-md-6">
                      <strong>Fecha de Nacimiento</strong>
                      {{ form.fechaNacimiento.erros }}
                      {{ form.fechaNacimiento }}
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback text-left col-md-6 left-input">
                      <strong>Nivel de Escolaridad</strong>
                      {{ form.nivelEstudio.erros }}
                      {{ form.nivelEstudio }}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <!-- end data personal -->
                </div>

                <div class="form-group text-right col-md-12">
                  <a class="btn btn-primary " href="#license" data-toggle="tab" aria-expanded="false" onclick="tabActive('#licenciaConduccion')">Siguiente</a>
                </div>

              </div>
              <!-- end info -->

              <!-- license -->
              <div class="tab-pane fade" id="license">
                <br>
                <div class="col-md-12">
                  <!-- license -->
                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Numero Licencia</strong>
                      {{ form.numLicenciaConduccion.erros }}
                      {{ form.numLicenciaConduccion }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Documento Licencia</strong>
                      {{ form.docLicenciaConduccion.erros }}
                      {{ form.docLicenciaConduccion }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div style="width:100%">
                    <div class="form-group has-feedback text-left col-md-6">
                      <strong>Categoria Licencia</strong>
                        {{ form.categoriaLicencia.erros }}
                        {{ form.categoriaLicencia }}
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback text-left col-md-6 left-input">
                      <strong>Estado Licencia</strong>
                        {{ form.estadoLicencia.erros }}
                        <br>
                        <label for="estadoLicencia">Activo</label>
                        {{ form.estadoLicencia }}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Organismo de trasito</strong>
                      {{ form.organismoTransito.erros }}
                      {{ form.organismoTransito }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div style="width:100%">
                    <div class="form-group has-feedback text-left col-md-6">
                      <strong>Fecha de expedicion licencia</strong>
                      {{ form.fechaExpedicion.erros }}
                      {{ form.fechaExpedicion }}
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback text-left col-md-6 left-input">
                      <strong>Fecha de vencimiento licencia</strong>
                      {{ form.fechaVencimiento.erros }}
                      {{ form.fechaVencimiento }}
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Restriciones de conduccion</strong>
                    {{ form.restricciones.erros }}
                    {{ form.restricciones }}
                    <div class="help-block with-errors"></div>
                  </div>

                  <div class="form-group has-feedback text-left col-md-12">
                    <strong>Experiencia</strong>
                    {{ form.experiencia.erros }}
                    {{ form.experiencia }}
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- end license -->
                </div>

                <br>
                <div class="form-group text-right col-md-12">
                  <button class="btn btn-primary " type="submit">Guardar</button>
                </div>

              </div>
              <!-- end license -->
            </div>
            <!-- end tabs -->


          </div>


    </form>
  </div>
</section>

{% endblock %}
